[Desktop Entry]
Type=Application
Icon=Nextcloud
Exec=nextcloud-talk
Name=Nextcloud Talk
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=Nextcloud Talk
